.bottomsheet {
  /* position: fixed; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.framerDiv {
    width: 100%;
    padding-top: 25vh;
    position: fixed;
    top: 71.5vh;
}

.bottomdragger {
  width: 98%;
  background-color: rgb(162, 161, 161);
  height: 25px;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: grab;
}

.bottomcontent {
  width: 100%;
  background-color: #48a2bb;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.para {
    width: 70%;
    font-size: 23px;
    text-align: left;
    font-weight: 500;
    display: flex;
    flex-direction: column;
}

.line {
  width: 5%;
  border-top: 2px solid white;
  margin-top: 3px;
}

.button {
    width: 150px;
    height: 40px;
    margin-top: 50px;
    align-self: center;
    font-size: 22px;
    border-radius: 16px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 960px) {
    .para {
        font-size: 17px;
    }

    .button {
        margin-top: 0px;
    }
}